<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/app/style.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;0,800;1,400&display=swap"
          rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="search-container">
                    <input type="text" class="input-search" placeholder="Search...">
                    <button class="search-button">/></button>
                </div>
                <ul class="list-unstyled chat-list">
                    <li>
                        <label class="user-container">
                            <div class="avatar">G</div>
                            <div class="about">
                                <div class="name">General</div>
                                <small class="status">Online</small>
                            </div>
                            <input type="radio" name="user">
                        </label>
                    </li>
                </ul>
            </div>
            <div class="chat">
                <div class="chat-header">
                    <div class="user-info-container disabled">
                        <div class="avatar">U</div>
                        <div class="chat-about">
                            <div class="name">User</div>
                            <small class="status">Online</small>
                        </div>
                    </div>
                    <a href="/auth/logout" class="logout float-right">logout</a>
                </div>
                <div class="chat-history">
                    <ul>
<!--                        <li class="message-container">-->
<!--                            <div class="message-data">-->
<!--                                <a class="message-user-username" href="#">username</a>-->
<!--                                <span>-></span>-->
<!--                                <span class="message-data-time">data time</span>-->
<!--                                <span>-></span>-->
<!--                                <span class="message-status">[200] OK</span>-->
<!--                            </div>-->
<!--                            <div class="message other-message">Lorem ipsum dolor sit, amet consectetur adipisicing elit. -->
<!--                                Natus cupiditate eum, sunt est hic unde corporis rem sapiente! Dignissimos eius iure eveni-->
<!--                                et eos pariatur facilis vel nisi libero eligendi impedit.-->
<!--                            </div>-->
<!--                        </li>          -->
<!--                        <li class="message-container float-right">-->
<!--                            <div class="message-data">-->
<!--                                <a class="message-user-username" href="#">me</a>-->
<!--                                <span>-></span>-->
<!--                                <span class="message-data-time">data time</span>-->
<!--                                <span>-></span>-->
<!--                                <span class="message-status">[200] OK</span>-->
<!--                            </div>-->
<!--                            <div class="message my-message">Lorem ipsum dolor sit, amet consectetur adipisicing elit. -->
<!--                                Natus cupiditate eum, sunt est hic unde corporis rem sapiente! Dignissimos eius iure eveni-->
<!--                                et eos pariatur facilis vel nisi libero eligendi impedit.-->
<!--                            </div>-->
<!--                        </li>                                                                  -->
                    </ul>
                </div>
                <div class="send-container">
                    <input type="text" class="input-send" placeholder="Enter text here...">
                    <button class="send-button">/></button>                                    
                </div>
            </div>
    </div>
    </div>
    <script th:src="@{/js/app/utils.js}"></script>
    <script th:src="@{/js/app/socket.js}"></script>
    <script th:src="@{/js/app/search.js}"></script>
</body>
</html>