<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Register</title>
</head>
<body>
<div class="content">
    <div class="register-form">
        <legend>Please Register</legend>
        <div th:if="${param.error}" class="alert alert-error">
            User already exist or invalid password.
        </div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username"/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>
        <label for="repeat-password">Repeat password</label>
        <input type="password" id="repeat-password" name="repeatPassword"/>
        <div class="form-actions">
            <button class="register-btn">Register</button>
        </div>
        <a href="/auth/login">You have account? Login</a>
    </div>
    <script th:src="@{/js/register/register.js}"></script>
</div>
</body>
</html>